body {
    background: black;
    border: dotted red 3px;
    margin: 0 auto;
    padding-bottom: 100px;
} .h2 {
    color: red;
    justify-content: center;
    align-content: center;
    text-align: center;
} .main {
    color: green;
}
.square {
    height: 120px; width: 120px;
    border: dotted 5px;
    border-image: linear-gradient(45deg, red, green, purple);
    border-image-slice: 1;

} .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    position: relative;
    height: auto; width: auto;
} .mole {
    background-image: url("kissing.jpg");
    background-size: cover;
}